body {
    background-color: silver;
}
.search-form {
    background-color: red;
}
footer {
    background-color: red;
    color: white;
    clear: left;
    text-align: center;
}
.meteo {
    width: 100%;
}